<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masterpiece Elisa Nguyen</title>
    <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
</head>
<body>
    <h1>Snowflake generation using probabilistic L-systems</h1>
    <h3>Art, Mathematics and Technology Masterpiece by Elisa Nguyen (s2399423)</h3>
    <p>Snowflakes are a beautiful creation from nature. Due to the dipole behaviour of water molecules and the
        arrangement of the oxygen and hydrogen atoms, snowflakes are made up of a grid structure that results in
        symmetrical growth along 6 axis arranged in a hexagon. As there are numerous parameters influencing the shape of
        the snowflake (temperature, humidity, pressure, ...) as they falls down from the sky, it is said that every
        snowflake is unique.</p>

    <p>This artwork shall capture the perfect symmetry and uniqueness of snowflakes by modelling them in
        a probabilistic L-system and animating snowfall in a clear winter sky.</p>
</body>
</html>